.settings
.project
plantilla-data/.settings
plantilla-data/.classpath
plantilla-data/target
plantilla-data/.project

plantilla-entities/.settings
plantilla-entities/.classpath
plantilla-entities/target
plantilla-entities/.project

plantilla-services/.settings
plantilla-services/.classpath
plantilla-services/target
plantilla-services/.project

plantilla-web/.settings
plantilla-web/.classpath
plantilla-web/target
plantilla-web/.project