<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa
    	https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.jace"></context:component-scan>

	<context:property-placeholder location="classpath*:config/applications-properties.properties"/>

	<!-- Conexion a DB -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${spring.datasource.driver-class-name}"></property>
		<property name="url" value="${spring.datasource.url}"></property>
		<property name="username" value="${spring.datasource.username}"></property>
		<property name="password" value="${spring.datasource.password}"></property>
	</bean>

	<!-- Habilita propiedades de conexion del datasource y genera el EntitiManager de JPA -->
	<bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.develop.model"></property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.time_zone">America/Mexico_City</prop>
			</props>
		</property>
		<property name="persistenceProvider">
			<bean class="org.hibernate.jpa.HibernatePersistenceProvider"></bean>
		</property>
	</bean>

	<!-- Administrador de Transacciones CRUD -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- Permite utilizar anotacion @Transactional de Spring -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<jpa:repositories base-package="com.jace.repository" entity-manager-factory-ref="emf"></jpa:repositories>
</beans>